<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="HondaKiteHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\HondaKiteBot\env\Scripts\python.exe|E:\HondaKiteBot\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
	    <httpProtocol>
            <customHeaders>
			    
            </customHeaders>
        </httpProtocol>	
        <staticContent>
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
    </system.webServer>
	<system.web>
		<sessionState timeout="20" cookieSecure="Always" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
        <authentication mode="Forms">
            <forms requireSSL="true" protection="All" timeout="30" />
        </authentication>		
    </system.web>
	<appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="E:\HondaKiteBot" />
    </appSettings> 
</configuration>
